
body {
    background-color: #272727;
}

/* keep canvas stretching using css */
* {
    margin : 0;
    padding : 0;
}

#glCanvas {
    width: 78%;
    /* height: 50%; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*
 html, body {
     width:100%;
    height:100%;
}  */