* {
    font-family: 'Montserrat', sans-serif;
    color: #f8f8f8f8;
    letter-spacing: 0.05em;
    /* z-index: 1; */
}

body {
    /* background-image: url("./media/PixelArtBackgrounds/forest-snow.png"); */
    background-image: url("./media/PixelArtBackgrounds/forest.png");
    /* background-image: url("./media/PixelArtBackgrounds/GrassTile_medium.png"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* z-index: 0; */
    background-color: rgba(255,255,255,255);
}

/*testing */

#websitename{
    font-size: 3em;
}

#header_element{
    position: relative;
    /* top: -20em; */
    /* left: 50%; */
}

#topbar {
    /* align center requires margin, width, and align-content rules*/
    margin: auto;
    width: 85%;
    align-content: center;

    /* box model */
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    /* border: 1em solid #f8f8f8; */

    /* text */
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1em;
}

.topbar_table{
    align-content: center;
    margin: auto; /* center table*/
    /* table-layout: fixed; */
    /* border: 1em solid white; */
}

.topbar_links {
    text-align: left;
    font-size: 0.7em;
}

.topbar_div
{
    padding-right: 1em;
    padding-left: 1em;
}

td{
    padding-right: 1em;
    padding-left: 1em;
    /* margin-left: 1em; */
    /* margin-right: 1em; */
    /* background-color: rgba(8, 8, 8, 0.482); */
    /* margin: 0em 0em 1em 1em; */
    /* border: 0.1em solid white; */
}

.collapsible{
    max-height: 0;
    overflow-y: hidden;
    transition: 0.25s;
}

#sidebar{
    /* padding: 1em 1em; */
    /* margin: 1em 1em; */
    width: 0;
    overflow-x: hidden;
    /* position: fixed; */
    z-index: 1;
    transition: 0.3s;

}

#main-content{
    width: 85%;
    align-content: center;
    margin: auto;
    padding: 1em 1em
}

.embeddedPage, .generatedObj{
    /* size: 0; */
    margin: 0em;
    padding: 0em;
    height: min-content;
    width: min-content;
    /* display: inline-block; */
}


.opaqueBackground
{
    background-color: rgba(8, 8, 8, 0.89);
}

.pagebreak{
    margin: 2em;
}

.button {
    text-transform: uppercase;
    /* font-weight: 0.1em; */
    font-weight: bold;
    font-size: 1.5em;
    border: 0em solid white;
    padding: 0.5em 1em;
    background-color: #252525;
    /* background-color: rgba(8, 8, 8, 0.568); */
}

.button:hover{
    background-color: #3f3f3f;
}
